* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }
  .nav__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .nav__controls--btn {
        position: relative;
        display: none;
    }
}