* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
a {
    color: white;
    text-decoration: none;
  }
li {
    list-style-type: none;
  }
p {
    text-align: center;
    font-size: 14px;
    opacity: 0.3;
    line-height: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-align: center;
  }
  .nav__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    .nav__controls--btn {
        position: relative;
        display: none;
    }
}

.nav__modal__item {
    margin-bottom: 30px;
}
.nav__modal {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
   /* row-gap: 30px;*/
    width: 80%;
    justify-content: space-around;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    top: 100px;
    left: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .nav__modal a{
      color: black;
      font-size: 15px;
  }
  .mockups__img {
    width: 90%;
display: block;
margin: auto;
position: relative;
top: -118px;
}
.showImage {
    z-index: 1;
}
.hideImage {
    z-index: -1;
}
img.openClose {
    display: block;
}
.headerContent {
    background-color:  hsl(0, 0%, 98%);
    padding-bottom: 85px;
}
.mediumDarkMode {
    background-color: hsl(233, 8%, 62%);
  }
.headerContent__summary__title {
    text-align: center;
    font-weight: 400;
    margin-top: -60px;
margin-bottom: 28px;
}
.headerContent__summary__details {
    text-align: center;    
    margin:0 16px 35px;
}
.nav {
    padding: 40px 20px 20px;
    background: white;
z-index: 2;
position: relative;
}
.mockups{
    position: relative;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: 100% 82%;
background-repeat: no-repeat;
}
.btnPrimary {
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    display: block;
    color: white;
    background: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%) );
}
.main {
    background-color: hsl(220, 16%, 96%);
    padding-bottom: 71px;
}
.main__intro__title {
    padding-top: 75px;
    padding-bottom: 25px;
    margin: 0 15%;
}
.main__intro__details {
    margin: 0 25px 0;
}
.main__intro {
    margin-bottom: 65px;
}
.main__services__img {
    display: block;
    margin: 0 auto 30px;
}
.main__services__title {
    margin-bottom: 30px;
}
.main__services__details {
    margin: 0 25px 40px;
}
article {
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 87px;
}
.articles__title {
    padding-top: 95px;
    padding-bottom: 40px;
}
.card__img {
    width: 330px;
    display: block;
    margin: auto;
    height: 201px;
    border-top-right-radius: 7px;
border-top-left-radius: 7px;
}
.card__divider {
    width: 330px;
    margin: auto; 
    padding : 0 25px; 
    background-color: white; 
    border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.card__divider__author {
    padding-top: 31px;
    text-align: left;
    font-size: 10px;
    opacity: 0.4;   
padding-bottom: 13px;
  }
  .card__divider__title {
    text-align: left;
    font-size: 16px;
opacity: 0.7;
  }
  .card__divider__details {
    text-align: left;
    font-size: 12px;
    line-height: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 48px;
}
footer {
    background-color: hsl(233, 26%, 24%);
}
.footer__img__logo {
    filter: invert(98.9%) sepia(18%) saturate(200%) hue-rotate(248.2deg) brightness(166.5%) contrast(213%);
     display: block;     
     padding: 40px 0;
     margin: auto;
}

.socials {
    margin-bottom: 30px;
}

.socials__links {
    display: flex;
    justify-content: center;
   /* column-gap: 20px;*/
  }
  .socials__links li{
     margin: 0 10px; 
  }
  .footerMain {
   /* display: flex;
    flex-direction: column;*/
        text-align: center;
  }
  .footerMain ul {
    display: flex;
    flex-direction: column;
}

.footerMain li {
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 15px;
}
.footer--btn {
    margin-top: 15px;
    margin-bottom: 25px;
}
.copyright {
    color: white;
    padding: 46px 0;
}

//media queries
//tablets

@media screen and (min-width: 690px) {
    .nav__modal {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        left: 170px;
        padding-top: 2px;
        padding-bottom: 2px;
        top: 45px;
        width: 45%;
    }
    .mediumDarkMode {
        background-color: hsl(0, 0%, 98%);
    }
    .mockups__img {        
        z-index: 1;
    }
    img.openClose {
        display: none;
    }
    .nav__controls {          
        .nav__controls--btn {  
            padding: 9px 30px;           
            display: block;
        }
    }
    .nav__modal__item {
        margin-bottom: 0;
    }

    .mockups__img {
        width: 50%;       
       /* top: 20px;*/
    }
    .headerContent__summary__title {       
        margin-top: 40px;       
    }
    .headerContent__summary {
        width: 50%;
        margin: auto;
    }
    .main__services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main__services__categories {
        width: 330px;
        margin: auto;
    }

    .main__intro__details {
        margin: 0px 140px 0;
    }

    .main__services__details {
        margin: 0 0px 40px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }
    .footerMain {        
        margin-top: 20px;
    }


}

//desktop media queries

@media screen and (min-width: 1281px) {
    p {
        font-size: 1.5rem;
        line-height: 2rem;        
    }
    .mockups__img {
        width: 120%;
        /* top: 20px; */
    }
    .main {
        margin-top: -310px;
        padding: 0 100px;
    }
    
    .main__intro__title {        
        font-size: 3rem;
         margin: 0 0; 
        text-align: left;
    }
    .main__intro__details {
        text-align: left;
        margin: 0;
        width: 60%;
    }
    .main__services__categories {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .main__services__img {        
        margin: 0 0 30px;
    }
    .main__services__details {
        text-align: left;        
    }
    .headerContent__summary {        
        margin: 10% 5%;
    }
    .headerContent__summary__details
     {
        text-align: left;  
        margin-left: 112px;      
    }
    .headerContent__summary__title {
        font-size: 4rem;
        text-align: left;
        margin-left: 106px;
    }
    .headerContent {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
    }
    .mockups {        
        background-image: url("../images/bg-intro-desktop.svg");
        background-size: 100% 82%;
        background-repeat: no-repeat;
    }
    .footerMain {
        width: 20%;
        display: flex;
        padding-top: 35px;
        justify-content: space-between;
    }
    .footerOutro {
        width: 35%;
        justify-content: left;
    }
    .footerIntro {
        margin-top: 20px;
    }
    .footer--btn {
        margin-right: 0;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .copyright {       
        text-align: right;
    }
    article {        
        padding-left: 100px;
        padding-right: 100px;
    }
    .card__divider__author {
        font-size: 1rem;
    }
    .card__divider__title {
        font-size: 1.5rem;
    }
    .card__divider__details {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .card__divider, .card__img {
        width: 320px;
    }

}